<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <h1>404</h1>
    <p>Error 404 not found the page required</p>
</body>
</html>