<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node</title>
    <%- include('partials/head.ejs') %> 
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <div class="container mt-5">
        <h1>Create</h1>
        <form action="/blogs" method="POST">
            <div class="from-group">
                <label for="title">Blog Title:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="title">Blog Body:</label>
                <textarea name="body" id="body" name="body" class="form-control p-2" required></textarea>
            </div>
            <button class="btn btn-warning">Submit</button>
        </form>
    </div>


    <%- include('partials/footer.ejs') %>
</body>
</html>